{
    "consumer_key": "<consumer_key_here>", 
    "consumer_secret": "<consumer_secret_here>",
    "access_token_key": "<access_token_key_here>",
    "access_token_secret": "<access_token_secret_here>"
}